[Unit]
Description=Ceph Host Config
Before=ceph-osd.target
After=pve-storage.target
After=ceph-mon.service

[Service]
Type=oneshot
ExecStart=/bin/bash /mnt/pve/cephfs/share/workspace/scripts/ceph-host-config.sh

[Install]
WantedBy=multi-user.target
